:root {
  --background: yellow;
  --c1: green;
  --c2: blue;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0;
    
    
}

#titulo1 {
    background-color: var(--c1);
    font-size: 80px;
    text-align: center;
    padding: 0.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    border-bottom: 5px solid black;
}

main{ 
    background-color: var(--background);
    flex: 1;
}
.graficos {
    font-size: 30px;
    padding: 100px;
    text-align: center;
}


footer {
 display: flex;
 justify-content: flex-end;
}
#rodape-p {
   border-top: 2px solid black;
    justify-content: end;
    background-color: var(--c2);
    text-align: center;
    padding: 10px;
}